@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './assets/scss/ghost.scss';

html {
    height: 100%;
    body, app-root {
        height: 100%;
        margin: 0;
    }
    body {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        background-color: black;
        background-image: url(assets/img/bg_vignette.jpg);
        background-size: 70%;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.spacer {
  flex: 1 1 auto;
}

.header-navbar-white {
    background-color: transparent;
    color: white;
}