@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './assets/scss/ghost.scss';

html {
    height: 100%;
    body, app-root {
        height: 100%;
        margin: 0;
    }
    body {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        background-color: black;
    }
}

.spacer {
  flex: 1 1 auto;
}

.form-toolbar {
    position: relative;
    margin-left: 1%;
    margin-top: 1%;
}