<mat-toolbar class="header-navbar-white">
    <mat-toolbar-row>
        <span>FindYourRoom Hotel Room Booking</span>
        <span class="spacer"></span>
        <button 
            *ngIf='!auth.isAuthenticated()'
            (click)='login()'
            class="ghost-button-white">
            Login
        </button>
        <button 
            *ngIf='auth.isAuthenticated()'
            (click)='logout()'
            class="ghost-button-white">
            Logout
        </button>
        <button
            (click)='support()'
            class="ghost-button-white">
            Support
        </button>
    </mat-toolbar-row>
</mat-toolbar>