%ghost-button {
    margin-right: 15px;
    padding: 10px 15px 10px 15px;
    background-color: transparent;
    border-radius: 0px;
    font-variant: small-caps;
}

.ghost-button-white {
    @extend %ghost-button;
    border: white solid 1px;
    color: white;
}

.ghost-button-black {
    @extend %ghost-button;
    border: black solid 1px;
    color: black;
}

.ghost-mat-icon-white {
    color: white;
    margin-right: 15px;
    padding: 10px 15px 10px 15px;
}

.ghost-dialog-white {
    mat-dialog-container {
        background-color: rgb(0, 0, 0, 0.5);
        border: white solid 1px;
        border-radius: 0px;
        color: white;
        mat-form-field.mat-form-field {
            &.mat-focused {
            .mat-form-field-label {
                color: rgba(255, 255, 255, 0.8);
            }
            .mat-form-field-ripple {
                background-color: white !important;
            }
            }
            .mat-form-field-label,.mat-form-field-label.mat-focused,
            .mat-form-field.mat-focused.matform-field-should-float {
                color: white;
            }
            .mat-form-field-underline, .mat-form-field-underline.mat-focused {
                background-color: white;
            }
        }
        mat-form-field {
            color: white;
            mat-label, label {
                color: rgba(255, 255, 255, 0.8);
            }
            mat-input, input {
                color: white;
            }
        }
    }
}