<h1 class="ghost-headline-white">{{this.isNew ? 'Add' : 'Edit'}} Hotel</h1>
<form *ngIf='isPageInitialized' class="ghost-form-white" [formGroup]='hotelForm'>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput type='text' formControlName='name' required />
    </mat-form-field>
    <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput type='text' formControlName='address' required />
    </mat-form-field>
    <div>
        <mat-label>Photo</mat-label>
        <input type="file" class="upload-photo" (change)="uploadPhoto($event.target.files)" />
    </div>
</form>
<div class="form-toolbar">
    <button class='ghost-button-white' (click)="save()" cdkFocusInitial>Save</button>
    <button class='ghost-button-white' (click)="cancel()">Cancel</button>
</div>