<h1 class="ghost-headline-white">Cancel & Overview Bookings</h1>

<div class="mat-elevation-z8 table-wrapper">
    <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="hotelname">
            <th mat-header-cell *matHeaderCellDef> Hotel Name </th>
            <td mat-cell *matCellDef="let element"> {{element.hotel.name}} </td>
        </ng-container>

        <ng-container matColumnDef="hoteladdress">
            <th mat-header-cell *matHeaderCellDef> Hotel Address </th>
            <td mat-cell *matCellDef="let element"> {{element.hotel.address}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)='selectRow(row)'
            [class.selected]='selection.isSelected(row)'>
        </tr>
    </table>

    <mat-paginator #MasterPaginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
</div>

<div class="mat-elevation-z8 table-wrapper">
    <table mat-table [dataSource]="dataSourceRooms">
        <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef> Room Number </th>
            <td mat-cell *matCellDef="let element"> {{element.room.number}} </td>
        </ng-container>

        <ng-container matColumnDef="from">
            <th mat-header-cell *matHeaderCellDef> From </th>
            <td mat-cell *matCellDef="let element"> {{element.from | date:'yyyy-MM-dd'}} </td>
        </ng-container>

        <ng-container matColumnDef="to">
            <th mat-header-cell *matHeaderCellDef> To </th>
            <td mat-cell *matCellDef="let element"> {{element.until | date:'yyyy-MM-dd'}} </td>
        </ng-container>

        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Cancel </th>
            <td mat-cell *matCellDef="let element">
                <mat-icon matTooltip='delete selected booking(s)' (click)='deleteBooking(element._id)'>delete</mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsRooms"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsRooms;"></tr>
    </table>

    <mat-paginator #DetailsPaginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
</div>
