mat-card.hotel-card {
    display: flex;
    flex-direction: column;
    
    margin: 15px;
    padding: 16px;

    img.card-image {
        height: 125px;
    }
    
    position: relative;
    width: 250px;
    height: 450px;

    mat-card-subtitle {
        height: 35px;
    }

    mat-form-field {
        width: 100%;
    }

    mat-slider {
        display: block !important;
    }

}