mat-card.hotel-card {
    display: flex;
    flex-direction: column;
    
    margin: 15px;
    padding: 16px;

    img.card-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 125px;
    }
    
    position: relative;
    width: 250px;
    height: 450px;
}