<mat-card class="hotel-card">
    <mat-card-header>
        <mat-card-title>{{hotel.name}}</mat-card-title>
        <mat-card-subtitle>Address: {{hotel.address}}</mat-card-subtitle>
    </mat-card-header>
    <app-image-viewer [url]='imagesHotelsUrl' [images]='hotel.images'></app-image-viewer>
    <mat-card-content>
        <mat-label>Average Score: {{average}}</mat-label>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)='goToRoomNavigation()'>BOOK ROOM</button>
        <button mat-button (click)='goToReviews()'>REVIEWS</button>
    </mat-card-actions>
</mat-card>
