<mat-card class="hotel-card">
    <mat-card-header>
        <mat-card-title>{{hotel.name}}</mat-card-title>
        <mat-card-subtitle>Address: {{hotel.address}}</mat-card-subtitle>
    </mat-card-header>
    <img class="card-image centered" src="{{imagesHotelsUrl + hotel.images[0]}}" alt="No Photo Provided">
    <mat-card-content>
        <mat-slider max="5" min="0" step="1" thumbLabel="true" [(ngModel)]="rating.rating"></mat-slider>
        <!-- <mat-label>{{rating.rating !== undefined ? rating.rating : 'not rated yet'}}</mat-label> -->
        <mat-form-field class="centered" [style.fontSize]="12">
            <mat-label>Opinion</mat-label>
            <textarea matInput 
                    cdkTextareaAutosize 
                    [(ngModel)]="rating.opinion" 
                    #autosize="cdkTextareaAutosize" 
                    cdkAutosizeMinRows="5"
                    cdkAutosizeMaxRows="5">
            </textarea>
        </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)='goToRoomNavigation()'>BOOK ROOM</button>
        <button mat-button (click)='submitReview()'>Submit Review</button>
    </mat-card-actions>
</mat-card>
