mat-card.hotel-card {
    display: flex;
    flex-direction: column;
    
    margin: 15px;
    padding: 16px;

    mat-card-content {
        align-self: center;
        font-weight: 500;
        margin-top: 20px;
    }
    
    position: relative;
    width: 250px;
    height: 300px;

    mat-card-subtitle {
        height: 35px;
    }

    mat-card-actions {
        align-self: center;
    }

}