<div class="toolbar">
    <mat-icon class="ghost-mat-icon-white">add</mat-icon>
    <mat-icon class="ghost-mat-icon-white">edit</mat-icon>
    <mat-icon class="ghost-mat-icon-white">delete</mat-icon>
</div>

<div class="mat-elevation-z8 table-wrapper">
    <table mat-table [dataSource]="dataSource">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef> Address </th>
            <td mat-cell *matCellDef="let element"> {{element.address}} </td>
        </ng-container>

        <!-- Price Column -->
        <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef="let element"> {{element.price}} </td>
        </ng-container>

        <!-- Review Column -->
        <ng-container matColumnDef="review">
            <th mat-header-cell *matHeaderCellDef> Review </th>
            <td mat-cell *matCellDef="let element"> {{element.review}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)='selectRow(row)'
            [class.selected]='selection.isSelected(row)'>
        </tr>
    </table>

    <mat-paginator #MasterPaginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
</div>

<div class="toolbar">
    <mat-icon class="ghost-mat-icon-white">add</mat-icon>
    <mat-icon class="ghost-mat-icon-white">edit</mat-icon>
    <mat-icon class="ghost-mat-icon-white">delete</mat-icon>
</div>

<div class="mat-elevation-z8 table-wrapper">
    <table mat-table [dataSource]="dataSourceRooms">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- RoomNumber Column -->
        <ng-container matColumnDef="roomNumber">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.roomNumber}} </td>
        </ng-container>

        <!-- Beds Column -->
        <ng-container matColumnDef="beds">
            <th mat-header-cell *matHeaderCellDef> Beds </th>
            <td mat-cell *matCellDef="let element"> {{element.beds}} </td>
        </ng-container>

        <!-- Free Column -->
        <ng-container matColumnDef="free">
            <th mat-header-cell *matHeaderCellDef> Free </th>
            <td mat-cell *matCellDef="let element"> {{element.free}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsRooms"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsRooms;" (click)='selectRoomRow(row)'
            [class.selected]='isRoomSelected(row)'>
        </tr>
    </table>

    <mat-paginator #DetailsPaginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
</div>